body{
    
    background-repeat: no-repeat;
}

.container {
    background: linear-gradient(to right, #cc3399, #b3d9ff);
    text-align: center;
    box-shadow: 3px 5px 3px #99ccff;
}

h1 {
    color:bisque;
    text-shadow: 2px 2px 5px #cc3399;
}